scrcpy-gui-flutter/scrcpy_gui.app/Contents/Info.plist
scrcpy-gui-flutter/scrcpy_gui.app/Contents/PkgInfo
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/App.framework/._App
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/App.framework/._Resources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/App.framework/App
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/App.framework/Resources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/App.framework/Versions/._Current
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/App.framework/Versions/Current
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/App.framework/Versions/A/App
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/App.framework/Versions/A/Resources/Info.plist
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/App.framework/Versions/A/Resources/flutter_assets/AssetManifest.bin
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/App.framework/Versions/A/Resources/flutter_assets/FontManifest.json
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/App.framework/Versions/A/Resources/flutter_assets/NativeAssetsManifest.json
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/App.framework/Versions/A/Resources/flutter_assets/NOTICES.Z
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/App.framework/Versions/A/Resources/flutter_assets/fonts/MaterialIcons-Regular.otf
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/App.framework/Versions/A/Resources/flutter_assets/shaders/ink_sparkle.frag
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/App.framework/Versions/A/Resources/flutter_assets/shaders/stretch_effect.frag
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/App.framework/Versions/A/_CodeSignature/CodeResources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/FlutterMacOS.framework/._FlutterMacOS
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/FlutterMacOS.framework/._Resources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/FlutterMacOS.framework/FlutterMacOS
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/FlutterMacOS.framework/Resources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/FlutterMacOS.framework/Versions/._Current
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/FlutterMacOS.framework/Versions/Current
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/FlutterMacOS.framework/Versions/A/FlutterMacOS
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/FlutterMacOS.framework/Versions/A/Resources/icudtl.dat
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/FlutterMacOS.framework/Versions/A/Resources/Info.plist
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/FlutterMacOS.framework/Versions/A/Resources/PrivacyInfo.xcprivacy
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/FlutterMacOS.framework/Versions/A/_CodeSignature/CodeResources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/desktop_drop.framework/._desktop_drop
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/desktop_drop.framework/._Resources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/desktop_drop.framework/desktop_drop
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/desktop_drop.framework/Resources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/desktop_drop.framework/Versions/._Current
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/desktop_drop.framework/Versions/Current
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/desktop_drop.framework/Versions/A/desktop_drop
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/desktop_drop.framework/Versions/A/Resources/Info.plist
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/desktop_drop.framework/Versions/A/_CodeSignature/CodeResources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/file_picker.framework/._file_picker
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/file_picker.framework/._Resources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/file_picker.framework/file_picker
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/file_picker.framework/Resources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/file_picker.framework/Versions/._Current
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/file_picker.framework/Versions/Current
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/file_picker.framework/Versions/A/file_picker
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/file_picker.framework/Versions/A/Resources/Info.plist
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/file_picker.framework/Versions/A/Resources/file_picker_privacy.bundle/Contents/Info.plist
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/file_picker.framework/Versions/A/Resources/file_picker_privacy.bundle/Contents/Resources/PrivacyInfo.xcprivacy
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/file_picker.framework/Versions/A/_CodeSignature/CodeResources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/objective_c.framework/._objective_c
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/objective_c.framework/._Resources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/objective_c.framework/objective_c
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/objective_c.framework/Resources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/objective_c.framework/Versions/._Current
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/objective_c.framework/Versions/Current
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/objective_c.framework/Versions/A/objective_c
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/objective_c.framework/Versions/A/Resources/Info.plist
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/objective_c.framework/Versions/A/_CodeSignature/CodeResources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/screen_retriever_macos.framework/._Resources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/screen_retriever_macos.framework/._screen_retriever_macos
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/screen_retriever_macos.framework/Resources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/screen_retriever_macos.framework/screen_retriever_macos
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/screen_retriever_macos.framework/Versions/._Current
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/screen_retriever_macos.framework/Versions/Current
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/screen_retriever_macos.framework/Versions/A/screen_retriever_macos
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/screen_retriever_macos.framework/Versions/A/Resources/Info.plist
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/screen_retriever_macos.framework/Versions/A/_CodeSignature/CodeResources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/shared_preferences_foundation.framework/._Resources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/shared_preferences_foundation.framework/._shared_preferences_foundation
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/shared_preferences_foundation.framework/Resources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/shared_preferences_foundation.framework/shared_preferences_foundation
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/shared_preferences_foundation.framework/Versions/._Current
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/shared_preferences_foundation.framework/Versions/Current
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/shared_preferences_foundation.framework/Versions/A/shared_preferences_foundation
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/shared_preferences_foundation.framework/Versions/A/Resources/Info.plist
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/shared_preferences_foundation.framework/Versions/A/Resources/shared_preferences_foundation_privacy.bundle/Contents/Info.plist
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/shared_preferences_foundation.framework/Versions/A/Resources/shared_preferences_foundation_privacy.bundle/Contents/Resources/PrivacyInfo.xcprivacy
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/shared_preferences_foundation.framework/Versions/A/_CodeSignature/CodeResources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/url_launcher_macos.framework/._Resources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/url_launcher_macos.framework/._url_launcher_macos
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/url_launcher_macos.framework/Resources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/url_launcher_macos.framework/url_launcher_macos
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/url_launcher_macos.framework/Versions/._Current
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/url_launcher_macos.framework/Versions/Current
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/url_launcher_macos.framework/Versions/A/url_launcher_macos
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/url_launcher_macos.framework/Versions/A/Resources/Info.plist
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/url_launcher_macos.framework/Versions/A/Resources/url_launcher_macos_privacy.bundle/Contents/Info.plist
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/url_launcher_macos.framework/Versions/A/Resources/url_launcher_macos_privacy.bundle/Contents/Resources/PrivacyInfo.xcprivacy
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/url_launcher_macos.framework/Versions/A/_CodeSignature/CodeResources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/window_manager.framework/._Resources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/window_manager.framework/._window_manager
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/window_manager.framework/Resources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/window_manager.framework/window_manager
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/window_manager.framework/Versions/._Current
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/window_manager.framework/Versions/Current
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/window_manager.framework/Versions/A/window_manager
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/window_manager.framework/Versions/A/Resources/Info.plist
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Frameworks/window_manager.framework/Versions/A/_CodeSignature/CodeResources
scrcpy-gui-flutter/scrcpy_gui.app/Contents/MacOS/scrcpy_gui
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Resources/AppIcon.icns
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Resources/Assets.car
scrcpy-gui-flutter/scrcpy_gui.app/Contents/Resources/Base.lproj/MainMenu.nib
scrcpy-gui-flutter/scrcpy_gui.app/Contents/_CodeSignature/CodeResources
scrcpy-gui-flutter/scrcpy_gui_v1.0_macos.zip
